<h2>Reenviar Confirmación </h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-body">
		  <div class="form-control">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
		  </div>

		  <div class="form-control">
		    <%= f.submit "Reenviar Confirmación", class: "btn btn-primary" %>
		  </div>
		<% end %>
		</div>
  </div>
<%= render "devise/shared/links" %>
