<h2>Reenviar instricciones de recuperación</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-body">
		  <div class="form-group">
		    <%= f.label :email %>
		    <%= f.email_field :email, autofocus: true, required: true, class: "form-cotrol" %>
		  </div>

		  <div class="form-group">
		    <%= f.submit "Reenviar instricciones de recuperación", class: "btn btn-primary" %>
		  </div>
		<% end %>
		</div>
  <div class="panel-footer">
  <%= render "devise/shared/links" %>
  </div>